<div class="full">
  
    <div class="wrapper">
     
   

        <div class="row" style="margin-right: 10px;" >
            <div class="login-form col-12" style="margin-left: 10px; ">


<div class="signup-form">
    <form  class="form-container" >
		<h2>Register</h2>
		<p>                    </p>
        <div class="form-group" >
			<input type="text" class="form-control" formControlName="name" placeholder="Enter Name">   	
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
        </div>
		<div class="form-group" >
            <input type="text" class="form-control" formControlName="college" placeholder="Enter College Name" >
        </div>
		<div class="form-group" >
            <input type="text" class="form-control" formControlName="phone" placeholder="Enter Contact Number " >
        </div>  
        <div class="form-group" >
            <input type="text" class="form-control" formControlName="rollno" placeholder="Enter College ID " >
        </div>        
        
		<div class="form-group">
            <button type="submit" class="btn btn-block btn-outline-light">Pay Now</button>
        </div>
    </form>
	<div class="text-center" style="color: rgb(26, 113, 194);">Already Registered? <a routerLink="/login">Login</a></div>
</div>

</div>
</div>

<ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
    </div>
    </div>